@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! Learn more about investing below</h1>
    
    <iframe 
        type="text/html" width="640" height="385" src="http://www.youtube.com/embed/gFQNPmLKj1k?autoplay=1" frameborder="0">
    </iframe>
    @*https://www.youtube.com/watch?v=gFQNPmLKj1k*@

    <div class="about-section">
        <h2>Our Goals</h2>
        <p>
            This website was designed with the intent as a starter point for people learning how to invest. 
            It is a free online portfolio managing tool. It can help you manage your stock portfolio.
        </p>
    </div>

</div>


