@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p >Use this page to detail your site's privacy policy.</p>



<div class="container my-5">
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <!-- The First Image in the Privacy page -->
      <div
           class="bg-image card shadow-1-strong"
           style="
                  background-image: url('https://images.ctfassets.net/23aumh6u8s0i/3TRYElMxIaNLqt7rXCrAG7/29560e70503c861cfe85632ecac78d03/privacy');
                  "
           >
        <div class="card-body text-white">
          <h5 class="card-title">Data Management</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu lobortis erat, eget imperdiet enim. Donec sed feugiat eros, quis.
          </p>
          <a href="https://www.tableau.com/learn/articles/what-is-data-management" class="btn btn-outline-light">Button</a>
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <!-- The Second Image in the Privacy page -->
      <div
           class="bg-image card shadow-1-strong"
           style="
                  background-image: url('https://media.gettyimages.com/photos/digital-security-concept-picture-id1289956604?s=612x612');
                  "
           >
        <div class="card-body text-white">
          <h5 class="card-title">Privacy</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu lobortis erat, eget imperdiet enim. Donec sed feugiat eros, quis.
          </p>
          <a href="https://en.wikipedia.org/wiki/Privacy" class="btn btn-outline-light">Button</a>
        </div>
      </div>
      <!-- The Third Image in the Privacy page -->
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <!-- Card -->
      <div
           class="bg-image card shadow-1-strong"
           style="
                  background-image: url('https://media.istockphoto.com/photos/cybersecurity-and-secure-nerwork-concept-data-protection-gdrp-glowing-picture-id1197780051?k=20&m=1197780051&s=612x612&w=0&h=hUVHAXTr1RsEq7sWyDkXGPQzhwg3bUcJDgWKh-d0Qp4=');
                  "
           >
        <div class="card-body text-white">
          <h5 class="card-title">Security</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu lobortis erat, eget imperdiet enim. Donec sed feugiat eros, quis.
          </p>
          <a href="https://en.wikipedia.org/wiki/Security" class="btn btn-outline-light">Button</a>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>